.icon-rambler {
  width: 300px;
  height: 150px;
}

.icon-moscowjs {
  width: 150px;
  height: 150px;
}

.svg-Rambler {
  padding: 30px 0;
}

.font_Rambler {
  font-size: 36px;
  line-height: 150px;
}

.font_MoscowJS {
  font-size: 150px;
}